{% extends 'adminbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    汇总：
                </h1>
                <h2 class="subtitle">
                    下面是系统运行状态简报：
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="columns">
    <div class="column">
        <canvas id="id-user-status"></canvas>
    </div>
    <div class="column">
        <canvas id="id-node-status"></canvas>
    </div>
    <div class="column">
        <canvas id="id-amount-status"></canvas>
    </div>
</div>
<div class="columns">
    <div class="column is-12">
        <canvas id="id-order-status"></canvas>
    </div>
</div>

<script>
    // 获取后台首页状态
    var getSystemStatus = function () {
        $.getJSON("{% url 'api:system_status' %}", function (res) {
            genDoughnutChart('id-user-status', '总用户:{{ total_user_num }} ',
                ['在线人数', '今日注册', '今日签到', '从未使用'],
                res.user_status)
            genDoughnutChart('id-node-status', '节点流量 单位:GB',
                res.node_status.names, res.node_status.traffics)
            genDoughnutChart('id-amount-status', '收入分析 单位:元',
                ['一周收入', '今日收入'], res.order_status.amount_status)

            genBarChart('id-order-status', res.order_status.bar_chart_configs)
        })
    }
    getSystemStatus()
</script> {% endblock main %}