{% extends 'adminbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    节点列表：
                </h1>
                <h2 class="subtitle">
                    节点运行状态：
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>类型</th>
                    <th>名字</th>
                    <th>等级</th>
                    <th>开关</th>
                    <th>倍率</th>
                    <th>人数/链接数</th>
                    <th>已用/总流量</th>
                </tr>
            </thead>
            {% for node in node_list %}
            <tr>
                <td>{{ node.id }}</td>
                <td>{{ node.node_type }}</td>
                <td>{{ node.name }}</td>
                <td>{{ node.level }}</td>
                <td>{{ node.enable }}</td>
                <td>{{ node.enlarge_scale }}</td>
                <td>{{ node.online_info.online_user_count }}/{{ node.online_info.tcp_connections_count }}</td>
                <td>{{ node.human_used_traffic}}/{{ node.human_total_traffic }}</td>
                <td>
                    <p class="control">
                        <span class="icon  button modal-button is-medium" data-target="modal-node-{{ node.id }}">
                            <i class="fa fa-rocket"></i>
                        </span>
                    </p>
                </td>
            </tr>
            <div class="modal" id="modal-node-{{ node.id }}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{ node.name }} - 对接配置</p>
                        <button class="delete"></button>
                    </header>
                    <section class="modal-card-body">
                        {% if node.node_type == "ss" %}
                        <p class="subtitle"><a class="is-link" href="https://github.com/Ehco1996/aioshadowsocks">专用SS后端
                            </a>对接地址:</p>
                        {% else %}
                        <p class="subtitle"><a class="is-link" href="https://github.com/Ehco1996/v2scar">专用V2ray
                            </a>后端对接地址:</p>
                        {% endif %}
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control is-expanded">
                                <input class="input" id="id-api-endpoint-{{ node.id }}" value="{{ node.api_endpoint }}"
                                    readonly>
                            </p>
                            <a class="button is-rounded" id="id-button-clip"
                                data-clipboard-target="#id-api-endpoint-{{ node.id }}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </a>
                        </div>
                        {% if node.enable_ehco_tunnel %}
                        <hr>
                        <p class="subtitle"><a class="is-link"
                                href="https://github.com/Ehco1996/ehco">ehco隧道</a>(落地机)对接地址:</p>
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control is-expanded">
                                <input class="input" id="id-ehco-server-config-{{ node.id }}"
                                    value="{{ node.ehco_api_endpoint }}" readonly>
                            </p>
                            <a class="button is-rounded" id="id-button-clip"
                                data-clipboard-target="#id-ehco-server-config-{{ node.id }}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </a>
                        </div>
                        {% endif %}

                        <span class="copied" hidden="true">Copied!</span>
                    </section>
                </div>
            </div>
            {% empty %}
            <h2 class=" subtitle">
                暂时没有节点，请去[数据后台-代理节点]里添加节点
            </h2>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });
</script>
{% endblock main %}