{% extends 'adminbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户列表：
                </h1>
                <h2 class="subtitle">
                    给衣食父母们请安了!
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <form method="get" action="{% url 'sspanel:admin_user_search' %}">
        <div class="field has-addons">
            <div class="control">
                <input name="q" class="input" type="search" placeholder="用户名/邮箱 模糊搜索" required>
            </div>
            <div class="control">
                <button type="submit" class="button is-outlined is-info">搜索</button>
            </div>
        </div>
    </form>
    <br>
    <div class="box">
        <nav class="pagination">
            {% if contacts.has_previous %}
            <a class="pagination-previous" href="?page={{ contacts.previous_page_number }}">上一页</a> {% endif %}
            {% if contacts.has_next%}
            <a class="pagination-next" href="?page={{ contacts.next_page_number }}">下一页</a> {% endif %} {% if page %}
            <p>页码：</p>
            <ul class="pagination-list">
                {% if first %}
                <a href="?page=1" class="pagination-link">1</a>
                {% endif %} {% if left %} {% if left_has_more %}
                <span>...</span>
                {% endif %} {% for i in left %}
                <a href="?page={{ i }}" class="pagination-link">{{ i }}</a>
                {% endfor %} {% endif %}
                <a href="?page={{ page }}" class="pagination-link is-current">{{ page }}</a>
                {% if right %} {% for i in right%}
                <a href="?page={{ i }}" class="pagination-link">{{ i }}</a>
                {% endfor %} {% if right_has_more %}
                <span>...</span>
                {% endif %} {% endif %} {% if last %}
                <a href="?page={{ total }}" class="pagination-link">{{ total }}</a>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
        <br>
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>操作:</th>
                        <th>ID:</th>
                        <th>用户名</th>
                        <th>邮箱:</th>
                        <th>端口:</th>
                        <th>已用/总流量</th>
                    </tr>
                </thead>
                {% for contact in contacts %}
                <tr>
                    <td>
                        <p class="control">
                            <a class="button is-info" href="{% url 'sspanel:admin_user_detail' contact.pk %}">编辑</a>
                        </p>
                        <p class="control">
                            <a class="button is-danger modal-button" data-target="modal-{{ contact.pk }}">删除</a>
                        </p>
                    </td>
                    <td>#{{ contact.id}}</td>
                    <td>{{ contact.username }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.ss_port }}</td>
                    <td>{{ contact.human_used_traffic }} /
                        {{ contact.human_total_traffic }}
                    </td>
                </tr>
                <div class="modal user_delete" id="modal-{{ contact.pk }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">用户名:{{ contact.username }}</p>
                            <button class="delete"></button>
                        </header>
                        <section class="modal-card-body">
                            <p class="subtitle">确定要删除:
                                <code>{{ contact.username }}</code>?</p>
                            <p align="center">
                                <a class="button is-danger is-outlined"
                                    href="{% url 'sspanel:admin_user_delete' contact.pk %}">确定删除</a>
                            </p>
                        </section>
                    </div>
                </div>
                {% empty %}
                <p class="subtitle">没有用户哟</p>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main %}