{% extends 'adminbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户分析：
                </h1>
                <h2 class="subtitle">
                    站内最大土豪即将揭晓！
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ total_user_num }}</p>
                <p class="subtitle">用户总数</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ alive_user_count }}</p>
                <p class="subtitle">在线人数</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ today_checked_user_count }}</p>
                <p class="subtitle">今日签到</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ today_register_user_count }}</p>
                <p class="subtitle">今日注册</p>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-info">
                    <div class="message-body">
                        流量排行榜
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>流量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in traffic_users %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.human_used_traffic }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-warning">
                    <div class="message-body">
                        土豪排行榜
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in rich_users_data %}
                        <tr>
                            <td>{{ u.user__username }}</td>
                            <td>{{ u.amount }} 元</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-success">
                    <div class="message-body">
                        今日注册
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>邀请人</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in today_register_user %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.inviter }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}