[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "==3.0.4"
django = "==2.0.8"
django-countries = "==5.3"
django-crontab = "==0.7.1"
django-jet = "==1.0.7"
idna = "==2.6"
image = "==1.5.22"
markdown = "==2.6.11"
pillow = "==5.1.0"
python-alipay-sdk = "==1.2.1"
qrcode = "==6.0"
requests = "==2.18.4"
six = "==1.11.0"
tomd = "==0.1.3"
"urllib3" = "==1.22"
uwsgi = "==2.0.17"
mysqlclient = "*"
pycrypto = "*"
certifi = "*"
gevent = "*"
raven = "*"
pytz = "*"
pendulum = "*"
ipython = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
