[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.8"
django-prometheus = "*"
django-countries = "*"
django-crontab = "*"
django-jet = "*"
pillow = "*"
python-alipay-sdk = "*"
qrcode = "*"
requests = "*"
tomd = "*"
uwsgi = "*"
mysqlclient = "*"
pycrypto = "*"
gevent = "*"
raven = "*"
pendulum = "*"
ipython = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
