django-prometheus
django-countries
django-crontab
django-jet
Markdown
Pillow
python-alipay-sdk
requests
tomd
uWSGI
Django>=2.2.1
mysqlclient>=1.3.13
pycrypto
gevent
pendulum
django-ratelimit
sentry-sdk>=0.7.8
short_url
django-anymail[mailgun]