astroid==1.6.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Django==2.0
django-crontab==0.7.1
idna==2.6
image==1.5.11
isort==4.2.15
lazy-object-proxy==1.3.1
Markdown==2.6.9
mccabe==0.6.1
mysqlclient==1.3.10
olefile==0.44
Pillow==4.2.1
pycrypto==2.6.1
pylint==1.8.1
PyMySQL==0.7.11
pyparsing==2.2.0
python-alipay-sdk==1.2.1
python-dateutil==2.6.1
pytz==2017.3
qrcode==5.3
requests==2.18.4
six==1.11.0
tomd==0.1.3
urllib3==1.22
uWSGI==2.0.15
wrapt==1.10.11
