{% extends 'base.html' %} {% block main %} {% load ehcofilter %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    新密码设置成功了
                </h1>
                <h2 class="subtitle">
                    这次要好好记住喔....
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <p class="title">密码重置成功！！</p>
        <a class="button is-success is-outlined" href="{% url 'sspanel:login' %}">点我返回登录界面</a></h1>
    </div>
</div>
{% endblock main %}