{% extends 'base.html' %} {% block main %} {% load ehcofilter %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    邮件发送通知：
                </h1>
                <h2 class="subtitle">
                    没收到的话请检查垃圾箱
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <p class="title">密码重置邮件已经送了！！</p>
        <a class="button is-success is-outlined" href="{% url 'sspanel:login' %}">点我返回登录界面</a></h1>
        <hr>
        <div class="columns">
            <div class="column is-6">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>温馨提示：</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。</p>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>温馨提示：</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

    {% endblock main %}