{% extends 'base.html' %} {% block main %}
{% load ehcofilter %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    重置密码：
                </h1>
                <h2 class="subtitle">
                    这次要好好记住喔....
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <h3 class="title">请输入注册邮箱:</h3>
        <form class="form" action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label_tag }}
            {{ field|add_class:"input is-info" }}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help is-danger">{{ field.help_text|safe }}</p>
            {% endif %}
            {% endfor %}
            <hr />
            <div class="is-grouped">
                <button type="submit" class="button is-danger is-outlined ">提交</button>
                <a class="button is-success is-outlined" href="{% url 'sspanel:login' %}">想起来了？</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}