/* 动态为footer添加类fixed-bottom */

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* 注册错误消息提示 */

.errorlist {
    color: red
}


/* Navbar免js自动响应 */

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked~.nav-menu {
    display: block;
}


@media all and (max-width: 768px) {
    body {
        /* On modern browsers, prevent the whole page to bounce */
        overflow: hidden;
    }
}