{% extends 'base.html' %}
{% block authed %}
    <div class="column is-12">
        <section class="hero is-warning is-smaill">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">我的推广</h1>
                    <h2 class="subtitle">
                        每当通过你的<strong>邀请链接</strong>注册的用户<strong>消费一笔</strong>
                        <p>
                            你就能获得<strong>{{ invite_percent }}%</strong>的返利哟！
                        </p>
                    </h2>
                </div>
            </div>
        </section>
    </div>
    <div class="column is-12">
        <div class="box">
            <div>
                <p class="subtitle">我的邀请链接:</p>
                <div class="field is-grouped is-grouped-multiline">
                    <p class="control is-expanded">
                        <input class="input is-rounded is-focused"
                               id="id-sub-link"
                               value="{{ ref_link }}"
                               readonly />
                    </p>
                    <p class="control">
                        <a class="button is-rounded"
                           id="id-button-clip"
                           data-clipboard-target="#id-sub-link">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
                <span class="copied" hidden="true">复制成功!</span>
            </div>
        </div>
        <div class="box" height="100">
            <div height="300px">
                <canvas id="id-ref-canvas"></canvas>
            </div>
            <hr />
            <div class="content">
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>购买人</th>
                            <th>返利金额</th>
                            <th>购买时间</th>
                        </tr>
                    </thead>
                    {% for log in rebate_logs %}
                        <tr>
                            <td>{{ log.consumer_username }}</td>
                            <td>{{ log.money }}元</td>
                            <td>{{ log.created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script>
        // 点击复制
        var clip = new Clipboard("#id-button-clip");
        clip.on("success", function(e) {
            $(".copied").show();
            $(".copied").fadeOut(1000);
        });
        var genRefChart = function() {
            url = "{% url 'api:user_ref_chart' %}";
            $.get(url, function(results) {
                genBarChart("id-ref-canvas", results);
            });
        };
        genRefChart();
    </script>
{% endblock authed %}
