{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    说个故事
                </h1>
                <h2 class="subtitle">
                    一个男孩和「墙」的故事：
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div class="notification">
            <button class="delete"></button>
            <p>一堵墙。
                <br/>
                <br/> </p>
            <p> 男人看着这堵墙，从他还是个男孩的时候，到下巴上冒出细细的胡须，
                <br>又到成为一个真正的男人。墙也从最坚固的样子慢慢衰颓。 </p>
            <p> 这次一定要征服它，一定可以「征服」它。男人心想。</p>
            <P>说来也奇怪，小时候与小伙伴玩闹，打赌谁能爬上这堵墙，男孩就从没赢过。不管用怎样的方法，甚至把家里的梯子搬出来，也没能成功爬上去，一次也没有。</P>
            <p>久而久之，这堵墙成了男孩的心结，即使成年后，只要站在这堵墙前，
                <br>就仍然是那个四五岁不服输的小男孩。</p>
            <p>男人开始攀爬，这么多年来，他已经对墙砖的位置烂熟于心。
                <br>哪一块砖微微凸出来，可以抓住或者作为落脚的地方，
                <br>男人都了然于心。但他不明白为什么总是在最接近墙头的时候失败。</p>
            <p>这次能够成功吗？</p>
        </div>
        <div class="notification is-success">
            <button class="delete"></button>
            <h2 class="title"> 注册了你就知道了 ʘʚʘ</h2>
        </div>
    </div>
</div>
{% endblock main %}