{% extends 'base.html' %}
{% block authed %}
    <style>
        .chat-footer {
            font-size: 12px;
            color: #888;
        }
    </style>
    <div class="column is-12">
        <section class="hero is-light is-smaill">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">工单详情</h1>
                </div>
            </div>
        </section>
    </div>
    <div class="column is-12 box">
        <!-- 原始内容 -->
        <article class="message">
            <div class="message-header">
                <p>标题:{{ ticket.title }}</p>
            </div>
            <div class="message-body">
                <div class="control">
                    <textarea class="textarea" rows="{{ ticket_body_line_count }}" readonly>{{ ticket.body }}
                        </textarea>
                </div>
            </div>
        </article>
    </div>
    <div class="column is-12 box">
        <!-- 回复记录 -->
        <div class="columns is-multiline is-mobile">
            {% for message in ticket_messages %}
                {% if message.is_staff %}
                    <div class="column is-12">
                        <div class="notification multi-line-notification is-info is-light is-pulled-right">
                            {{ message.message|linebreaks }}
                            <div class="chat-footer">
                                <span>staff:{{ message.user.id }} - {{ message.created_at }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="column is-12">
                        <div class="notification multi-line-notification is-success is-light is-pulled-left">
                            {{ message.message|linebreaks }}
                            <div class="chat-footer">
                                <span>{{ message.user }} - {{ message.created_at }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="column is-12 box">
        <!-- 新的回复 -->
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="message">追加</label>
                <div class="control">
                    <textarea class="textarea" id="message" name="message" rows="3"></textarea>
                </div>
            </div>
            <div class="buttons is-right">
                <button class="button is-link is-light"
                        href="{% url 'sspanel:ticket_list' %}">取消</button>
                <button type="submit" class="button is-link ">确定</button>
            </div>
        </form>
    </div>
{% endblock authed %}
