 {% extends 'backendbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    在线的用户：
                </h1>
                <h2 class="subtitle">
                    每5分钟自动更新一次!
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <nav class="pagination">
            {% if contacts.has_previous %}
            <a class="pagination-previous" href="?page={{ contacts.previous_page_number }}">上一页</a> {% endif %} {% if contacts.has_next%}
            <a class="pagination-next" href="?page={{ contacts.next_page_number }}">下一页</a>
            {% endif %}
            <p>页码：</p>
            <ul class="pagination-list">
                {% for page in page_list %}
                <li>
                    {% if page == contacts.number %}
                    <a href="?page={{ page }}" class="pagination-link is-current">{{ page }}</a>
                    {% else %}
                    <a href="?page={{ page }}" class="pagination-link">{{ page }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        <br>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>用户名</th>
                    <th>IP:</th>
                    <th>归属地:</th>
                    <th>节点名</th>
                </tr>
            </thead>
            {% for contact in contacts %}
            <tr>
                <td>#{{ contact.pk }}</td>
                <td>{{ contact.user_name }}</td>
                <td>{{ contact.ip_address }}</td>
                <td>{{ contact.local }}</td>
                <td>{{ contact.node_id }}</td>
            </tr>
            {% empty %}
            <p class="subtitle">没有用户在线哟</p>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock main %}