{% extends 'backendbase.html' %} {% block main %}


<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    汇总：
                </h1>
                <h2 class="subtitle">
                    下面是系统运行状态简报：
                </h2>
            </div>
        </div>
    </section>
</div>




<div class="column is-12">

    <div class="tile is-ancestor">

        <div class="tile is-6 is-vertical is-parent">
            <div class="tile is-child box">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>签到情况</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p> 用户总人数：{{ user_num }} 人 </p>
                        <p> 今日签到人数：{{ checkin_num }} 人 </p>
                        <p> 从未签到人数：{{ nocheck_num }} 人 </p>
                    </div>
                </article>
            </div>

            <div class="tile is-child box">
                <article class="message is-info">
                    <div class="message-header">
                        <p>用户情况</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p> 用户总人数：{{ user_num }} 人 </p>
                        <p> 从未使用人数：{{ nouse_num }} 人 </p>
                        <p> 在线人数：{{ alive_user }} 人 </p>
                        <p align="right"><a class="button is-danger is-outlined" href="{% url 'ssserver:clean_zombie_user' %}">删除僵尸用户</a></p>
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-6 is-vertical is-parent">
            <div class="tile is-child box">
                <article class="message is-success">
                    <div class="message-header">
                        <p>节点在线情况</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for node in nodes %}
                        <p>节点：<code>{{ node.name }} </code> 状态：<code>{{ node.status }}</code> 流量:<code>{{ node.total_traffic }}GB</code></p>
                        {% endfor %}
                    </div>
                </article>
            </div>

            <div class="tile is-child box">
                <article class="message is-warning">
                    <div class="message-header">
                        <p>商品收入情况</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p> 交易总数：{{ income_num }} 笔 </p>
                        <p> 交易总金额：{{ total_income }} 元 </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>



{% endblock main %}