{% extends 'backendbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    节点列表：
                </h1>
                <h2 class="subtitle">
                    添加或者删除节点：
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>操作:</th>
                    <th>ID:</th>
                    <th>节点名:</th>
                    <th>显示:</th>
                    <th>IP:</th>
                    <th>加密:</th>
                    <th>等级:</th>
                    <th>已用流量:</th>
                    <th>总流量:</th>                    
                </tr>
            </thead>
            {% for node in nodes %}
            <tr>
                <td>
                    <p class="control">
                        <a class="button is-info" href="{% url 'shadowsocks:node_edit' node.node_id  %}">编辑</a>
                    </p>
                    <p class="control">
                        <a class="button is-danger modal-button" data-target="modal-{{ node.node_id }}">删除</a>
                    </p>
                </td>
                <td>#{{ node.pk }}</td>
                <td>{{ node.name }}</td>
                <td>{{ node.show }}</td>
                <td>{{ node.server }}</td>
                <td>{{ node.method }}</td>
                <td>{{ node.level }}</td>
                <td>{{ node.human_used_traffic }}</td>
                <td>{{ node.human_total_traffic }}</td>                
            </tr>
            <div class="modal node_delete" id="modal-{{ node.node_id }}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">节点名:{{ node.name }}</p>
                        <button class="delete"></button>
                    </header>
                    <section class="modal-card-body">
                        <p class="subtitle">确定要删除:
                            <code>{{ node.name }}</code>?</p>
                        <p align="center">
                            <a class="button is-danger is-outlined" href="{% url 'shadowsocks:node_delete' node.node_id %}">确定删除</a>
                        </p>
                    </section>
                </div>
            </div>
            {% empty %}
            <h2 class="subtitle">
                暂时没有节点，点击下方按钮添加节点
            </h2>
            {% endfor %}
        </table>
        <p align="right">
            <a class="button is-danger is-outlined" href="{% url 'shadowsocks:node_create' %}">增加节点</a>
        </p>
    </div>
</div>
{% endblock main %}