{% load staticfiles %}
<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'img/logo/logo.ico' %}" />
<!-- css -->
<link rel="stylesheet" href="{% static 'sspanel/css/bulma.css'%}">
<link rel="stylesheet" href="{% static 'sspanel/css/ehco.css'%}">
<link rel="stylesheet" href="{% static 'sspanel/css/sweetalert.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- js -->
<script src="{% static 'sspanel/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'sspanel/js/sweetalert.min.js' %}"></script>
<script src="{% static 'sspanel/js/ehcov1.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>