{% if simple_extra_static %}
<footer>
    <div class="container">
        <div class="content has-text-centered">
            <p>
            <p class="copyright">&copy; 2016 -
                <script>document.write(new Date().getFullYear());</script>
                <a href="https://github.com/Ehco1996">GitHub</a>
            </p>
            </p>
        </div>
    </div>
</footer>
{% endif %}
<!--整站消息提醒功能 -->
{% if messages %}
<script>
    {% for message in messages %}
    swal("{{ message.extra_tags }}", '{{ message }}', '{{ message.level_tag }}');
    {% endfor %}
</script>
{% endif %}