{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    我的推广：
                </h1>
                <h2 class="subtitle">
                    如果觉得好用，请推荐给其他小伙伴使用!
                    <p>每当你邀请的人购买了商品，你就能获得
                        <strong>{{ invitePercent }}%</strong>的返利哟
                    </p>
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box ">
        <div class="field has-addons">
            <a class="button is-outlined is-info" id="id-gen-invitecode">生成{{ inviteNumn }}个邀请码 </a>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <p class="subtitle">我的邀请码</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>邀请码</th>
                        <th>是否使用</th>
                    </tr>
                </thead>
                {% for code in invitecodes %}
                <tr>
                    <td>{{ code.time_created | date:"m月d日" }}</td>
                    <td>{{ code.code }}</td>
                    <td>{{ code.isused }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    // 端口重置Ajax部分
    var InviteButton = $("#id-gen-invitecode")
    var gencode = function () {
        url = "{% url 'api:geninvitecode' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
        })
    }
    InviteButton.click(gencode)
</script> {% endblock main %}