{% extends 'base.html' %} {% block main %} {% load static %}
<div class="box">
    <div class="container">
        <h1 class="title">
            客户端推荐：
        </h1>
        <h2 class="subtitle">
		订阅链接在「用户中心」->「连接信息」->「订阅地址」<br>
		iOS推荐在美区商店购买Shadowrocket，其他平台推荐使用Clash<br>
		Shadowrocket使用订阅地址中的「同时订阅SS/Vmess」，Clash使用订阅地址中的「订阅Clash」<br>
		<a href="https://github.com/Ehco1996/django-sspanel/wiki/Clash%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95" target="_blank">详细配置方法点这里查看</a>
        </h2>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Andriod:</p>
                    <p class="subtitle">下载或play store搜索：</p>
                    <a class="subtitle" href="https://github.com/Kr328/ClashForAndroid/releases" target="_blank">ClashForAndroid</a>
                </article>
                <article class="tile is-child notification is-warning">
                    <p class="title">iOS:</p>
                    <p class="subtitle">AppStore搜索:</p>
                    <a class="subtitle" href="https://itunes.apple.com/cn/app/shadowrocket/id932747118?mt=8" target="_blank">Shadowrocket(小火箭)</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">Mac os:</p>
                    <p class="subtitle">下载地址：</p>
                    <a class="subtitle" href="https://github.com/yichengchen/clashX/releases" target="_blank">ClashX</a>
                    <br>
                    <br>
                    <br>
                    <p class="title">Clash Core</p>
                    <p class="subtitle">Unix用户自行取用：</p>
                    <a class="subtitle" href="https://github.com/Dreamacro/clash/releases">戳这里</a>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <p class="title">Windows</p>
                <p class="subtitle">请不要下载来路不明的软件：</p>
                <div class="content">
                    <p class="subtitle">
                        <a href="https://github.com/Fndroid/clash_for_windows_pkg/releases">Clash for Windows </a>
                    </p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <div class="content">
                <p class="title">冷笑话</p>
                <p class="subtitle">企鹅给北极熊打电话 </p>
                <p class="subtitle">我给你讲个冷笑话吧 </p>
                <p class="subtitle">北极熊挂了 </p>
                <br/>
                <p class="title">闲诗杂话：</p>
                <p class="subtitle">少游江南老相逢</p>
                <p class="subtitle">人面桃花相映红</p>
                <p class="subtitle">人生一季太匆匆</p>
                <p class="subtitle">桃花依旧笑春风</p>
            </div>
    </div>
    </article>
</div>
</div>
{% endblock main %}
