{% extends 'base.html' %} {% block main %} {% load static %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    捐赠榜：
                </h1>
                <h2 class="subtitle">
                    有你们的支持,才让这里继续下去 谢谢！
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="column is-12">
    <div class="tile is-ancestor">
         <div class="tile is-5 is-vertical is-parent">
            <div class="tile box is-child">
                <p class="subtitle">充值捐赠系统正在内测中...<br>请在下方输入充值/捐赠金额</p>
                <p>点击提交会弹出支付二维码<br>扫描二维码确认付款之后<br>账户里会增加对应的金额</p>
                <hr>
                <div class="content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control">
                                <input name="q" class="input" type="number" placeholder="最低不得小于10元: " required>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-outlined is-info">提交</button>
                            </div>
                        </div>
                    </form>
                    <hr> 
                    {% if out_trade_no %}
                    <figure class="image">
                        <img src="{% url 'shadowsocks:facepay_qrcode' %}">
                    </figure>
                    <p><strong>付费完成之后请点击确认！</strong></p>
                    <div class="control">
                        <a class="button is-outlined is-danger" href="{% url 'shadowsocks:facepay_view' out_trade_no %}">确认</a>
                    </div>
                    {% endif %} {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <p class="errorlist">{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>



        <div class="tile is-7 is-vertical is-parent">
            <div class="tile box is-child">
                <div class="content">
                    <p class="subtitle">在充值界面充值也等同于捐赠，记录会自动同步</p>
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                <th>捐赠人:</th>
                                <th>捐赠金额:</th>
                                <th>捐赠时间:</th>
                            </tr>
                        </thead>

                        {% for donate in donatelist %}
                        <tr>
                            <td>{{ donate.user }}</td>
                            <td>{{ donate.money }} 元</td>
                            <td>{{ donate.time|date:"m月d日" }}：</td>
                        </tr>
                        {% empty %}
                        <p class="subtitle">
                            居然还没有人捐赠 要喝西北风了
                        </p>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}