{% extends 'base.html' %} {% block main %} {% load ehcofilter %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    邀请码列表：
                </h1>
                <h2 class="subtitle">
                    {% settings_value "INVITEINFO" %}
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div class="content">

            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>创建时间:</th>
                        <th>邀请码:</th>
                    </tr>
                </thead>
                {% for code in code_list %}
                <tr>
                    <td>{{ code.created_at|date:"m月d日" }}</td>
                    <td>
                        <a href="{% url 'sspanel:register'%}?invitecode={{code.code}}"code.code }}>
                            {{ code.code }}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <h2 class="subtitle">
                    哦哦哦，用完了！
                </h2>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main%}