{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-success is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    节点列表
                </h1>
                <h2 class="subtitle">
                    让clash帮你选一个最好的用....
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="column is-12 is-vcentered">
    <div id="node-list">
        {% for node in node_list %}
        <div class="node-cell" data-id="{{ node.id }}">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">
                        <span class="tag is-primary is-rounded is-hidden-mobile">{{ node.node_type }}</span>
                        {% if node.online == True %}
                        <span class="tag is-success is-rounded">在线</span>&nbsp;{{ node.name }}
                        {% else %}
                        <span class="tag is-danger is-rounded">掉线</span>&nbsp;{{ node.name }}
                        {% endif %}
                    </p>
                    <p class="card-header-icon">地区：
                        <span class="icon">
                            <i class="flag-icon flag-icon-{{ node.country }}"></i>
                        </span>
                    </p>
                    <a id="id-icon-{{ node.id }}" class="card-header-icon"
                        onclick="$(`#card-body-{{ node.id }}`).toggle('swing')">
                        <span class="icon">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                    </a>
                </div>
                {% if user.level >= node.level %}
                <div id="card-body-{{ node.id }}" hidden="true">
                    <div class="card-content">
                        <div class="content">
                            <p>{{ node.info }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item modal-button" data-target="modal-config-{{ node.id }}">配置</a>
                        <div class="card-footer-item">
                            <span class="icon text">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>「{{node.online_user_count}}」</span>
                            </span>
                        </div>
                    </div>
                    <!--配置部分 -->
                    <div class="modal nodeinfo" id="modal-config-{{ node.id }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title"><code>{{ node.name }}</code>配置信息:</p>
                                <button class="delete"></button>
                            </header>
                            <section class="modal-card-body">
                                {% if node.enable_relay %}
                                {% for rule in node.relay_rules %}
                                <div class="tags">
                                    <span class="tag is-info is-light">{{ rule.remark }}</span>
                                    <span class="tag is-success is-light">{{ node.enlarge_scale }}倍率</span>
                                    <span class="tag"><i class="flag-icon flag-icon-{{ node.country }}"></i></span>
                                </div>
                                <div class="columns">
                                    <div class="column is-three-quarters">
                                        <table class="table is-fullwidth is-bordered is-striped">
                                            <tr>
                                                <td>连接地址:</td>
                                                <td>{{ rule.relay_host }}:{{ rule.relay_port }}</td>
                                            </tr>
                                            <tr>
                                                <td>密码:</td>
                                                <td>{{ node.ss_password }}</td>
                                            </tr>
                                            <tr>
                                                <td>加密方式:</td>
                                                <td>{{ node.method }}</td>
                                            </tr>
                                            <tr>
                                                <td>配置链接:</td>
                                                <td><a href={{ rule.relay_link }}>点击即可直接配置客户端</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="column">
                                        <span class="tag is-danger is-light">配置二维码</span>
                                        <div class="qr-code-new-{{ node.id }}" data-node_link={{rule.relay_link}}>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% if node.enable_direct %}
                                <div class="tags">
                                    <span class="tag is-info is-light">{{ node.remark }}</span>
                                    <span class="tag is-success is-light">{{ node.enlarge_scale }}倍率</span>
                                    <span class="tag"><i class="flag-icon flag-icon-{{ node.country }}"></i></span>
                                </div>
                                <div class="columns">
                                    <div class="column is-three-quarters">
                                        <table class="table is-fullwidth is-bordered is-striped">
                                            <tr>
                                                <td>连接地址:</td>
                                                <td>{{ node.multi_server_address.0 }}:{{ node.ss_port }}</td>
                                            </tr>
                                            <tr>
                                                <td>密码:</td>
                                                <td>{{ node.ss_password }}</td>
                                            </tr>
                                            <tr>
                                                <td>加密方式:</td>
                                                <td>{{ node.method }}</td>
                                            </tr>
                                            <tr>
                                                <td>配置链接:</td>
                                                <td><a href={{ node.node_link }}>点击即可直接配置客户端</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="column">
                                        <span class="tag is-danger is-light">配置二维码</span>
                                        <div class="qr-code-new-{{ node.id }}" data-node_link={{node.node_link}}>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="card-body-{{ node.id }}" hidden="true">
                    <div class="card-content">
                        <article class="message is-danger">
                            <div class="message-body">
                                <p>该线路为VIP线路
                                    <strong>购买对应商品 提升至等级:「{{node.level}}」后</strong> 才能看见节点配置哟！
                                </p>
                                <a class="is-link" href="{% url 'sspanel:shop' %}">点我购买！</a>
                            </div>
                        </article>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
    </div>
</div>


<script>
    function toUtf8(str) {
        var out, i, len, c;
        out = "";
        len = str.length;
        for (i = 0; i < len; i++) {
            c = str.charCodeAt(i);
            if ((c >= 0x0001) && (c <= 0x007F)) {
                out += str.charAt(i);
            } else if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            } else {
                out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            }
        }
        return out;
    }
    var NodeList = $("#node-list")
    // 事件委托绑定按钮
    NodeList.on('click', 'a', function (event) {
        var target = $(event.target)
        var node = target.closest('.node-cell')
        // 找到节点id
        var node_id = node.data('id')
        node.find(`.qr-code-new-${node_id}`).each(function (idx, instance) {
            instance = $(instance)
            if (instance.children().length == 0) {
                instance.qrcode(
                    {
                        text: toUtf8(instance.data("node_link")),
                        width: 128,
                        height: 128,
                    }
                )
            }
        })
    })
</script> {% endblock main %}