{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-success is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    节点列表：
                </h1>
                <h2 class="subtitle">
                    来呀伤害呀!
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="column is-12">
    <div class="box nodelist" id="id-nodelist">
        {% for node in nodelists %}
        <div class="node-cell" data-id="{{ node.node_id }}" data-sslink="{{ node.sslink }}"
            data-ssrlink="{{ node.ssrlink }}">
            <div class="card">
                <div class="card-header">
                    {% if node.online == True %}
                    <p class="card-header-title">
                        <span class="tag is-primary is-rounded is-hidden-mobile">{{ node.ss_type_info }}</span>
                        <span
                            class="tag is-{{ node.node_color}} is-rounded is-hidden-mobile">{{ node.node_type }}</span>
                        <span class="tag is-success is-rounded">在线</span>
                        &nbsp;&nbsp;{{ node.name }}
                    </p>
                    {% else %}
                    <p class="card-header-title">
                        <span class="tag is-primary is-rounded is-hidden-mobile">{{ node.ss_type_info }}</span>
                        <span
                            class="tag is-{{ node.node_color }} is-rounded is-hidden-mobile">{{ node.node_type }}</span>
                        <span class="tag is-danger is-rounded">掉线</span>
                        &nbsp;&nbsp;{{ node.name }}
                    </p>
                    {% endif %}
                    <p class="card-header-icon">地区：
                        <span class="icon">
                            <i class="flag-icon flag-icon-{{ node.country }}"></i>
                        </span>
                    </p>
                    <a id="id-icon-{{ node.node_id }}" class="card-header-icon"
                        onclick="$(`#id-card-body-${ {{ node.node_id }} }`).toggle('swing')">
                        <span class="icon">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                    </a>
                </div>
                {% if user.level >= node.level %}
                <div id="id-card-body-{{ node.node_id }}" hidden="true">
                    <div class="card-content">
                        <div class="content">
                            {{ node.info }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item modal-button" id="id-button-qrcode-{{ node.node_id }}"
                            data-target="modal-qrcode-{{ node.name }}">二维码</a>
                        <a class="card-footer-item modal-button" data-target="modal-config-{{ node.node_id }}">配置</a>
                        <a class="card-footer-item">
                            <span class="icon">
                                <i class="fa fa-user-o">「{{ node.count }}」</i>
                            </span>
                        </a>
                    </div>
                    <!--配置部分 -->
                    <div class="modal nodeinfo" id="modal-config-{{ node.node_id }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">节点配置信息:</p>
                                <button class="delete"></button>
                            </header>
                            <section class="modal-card-body">
                                <table class="table is-fullwidth is-bordered is-striped ">
                                    <p class="subtitle">用原版SS要在节点编辑界面将
                                        <strong>混淆</strong>改成
                                        <code>http_simple_compatible</code>
                                    </p>
                                    <tr>
                                        <td class="notification">节点ip:</td>
                                        <td class="notification">{{ node.server }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">端口:</td>
                                        <td class="notification">{{ node.port }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">密码:</td>
                                        <td class="notification">{{ node.password }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">加密方式:</td>
                                        <td class="notification">{{ node.method }}</td>
                                    </tr>
                                    {% if node.ss_type == 1 or node.ss_type == 2 %}
                                    <tr>
                                        <td class="notification">协议:</td>
                                        <td class="notification">{{ node.protocol }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">协议参数:</td>
                                        <td class="notification">{{ node.protocol_param }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">混淆:</td>
                                        <td class="notification">{{ node.obfs }}</td>
                                    </tr>
                                    <tr>
                                        <td class="notification">混淆参数:</td>
                                        <td class="notification">{{ node.obfs_param }}</td>
                                    </tr>
                                    {% endif %}
                                </table>
                                <p class="subtitle">配置链接：</p>
                                <a href={{ node.sslink }}>手机上用默认浏览器打开点我就可以直接添加配置(SS版)</a>
                                <br>
                                {% if node.ss_type == 1 or node.ss_type == 2 %}
                                <a href={{ node.ssrlink }}>手机上用默认浏览器打开点我就可以直接添加配置(SSR版)</a>
                                <br>
                                {% endif %}
                                <br>
                                <p class="subtitle">订阅链接</p>
                                <strong>点击按钮复制链接至客户端的订阅处</strong>
                                <div class="field is-grouped">
                                    <p class="control is-expanded">
                                        <input class="input" id="id-sub-link" value="{{ sub_link }}">
                                    </p>
                                    <p class="control">
                                        <a class="button is-rounded" id="id-button-clip"
                                            data-clipboard-target="#id-sub-link">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                </div>
                                <span class="copied" hidden="true">Copied!</span>
                            </section>
                        </div>
                    </div>
                    <!--二维码部分 -->
                    <div class="modal" id="modal-qrcode-{{ node.name }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">节点:
                                    <strong>{{ node.name }}</strong> 配置二维码</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                {% if node.ss_type == 1 or node.ss_type == 2 %}
                                <div class="box">
                                    <!-- SSR配置 ... -->
                                    <p class="subtitle">SSR版本(推荐使用)：</p>
                                    <div id="id-ssr-{{ node.node_id }}"></div>
                                </div>
                                {% endif %}
                                {% if node.node_type == "多端口"%}
                                <p class="subtitle">用原版SS要在节点编辑界面将
                                    <strong>混淆</strong>改成
                                    <code>http_simple_compatible</code>
                                </p>
                                <div class="box">
                                    <!-- SS配置 ... -->
                                    <p class="subtitle">SS原版：</p>
                                    <div id="id-ss-{{ node.node_id }}"></div>
                                </div>
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="id-card-body-{{ node.node_id }}" hidden="true">
                    <div class="card-content">
                        <article class="message is-danger">
                            <div class="message-body">
                                <p>该线路为VIP线路
                                    <strong>购买对应商品 提升至等级:「{{node.level}}」后</strong> 才能看见节点配置哟！</p>
                                <a class="is-link" href="{% url 'sspanel:shop' %}">点我购买！</a>
                            </div>
                        </article>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <br> {% endfor %}
    </div>
</div>


<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });
    var nodeList = $("#id-nodelist")
    // 事件委托绑定按钮
    nodeList.on('click', 'a', function (event) {
        var target = $(event.target)
        var node = target.closest('.node-cell')
        // 找到节点id
        var node_id = node.data('id')

        var ssr = node.find(`#id-ssr-${node_id}`)
        if (ssr.children().length == 0) { ssr.qrcode(node.data('ssrlink')) }

        var ss = node.find(`#id-ss-${node_id}`)
        if (ss.children().length == 0) {
            sslink = encodeURI(node.data('sslink'))
            ss.qrcode(sslink)
        }
    })
</script> {% endblock main %}