{% extends 'base.html' %} 
{% block main %}
<div class="column is-12">
    <nav class="level box ">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">用户名:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">余额：</p>
                <p class="title"><code>{{ user.balance }}元</code></p>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="content">
            <p class="subtitle">购买记录：</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>ID:</th>
                        <th>名称:</th>
                        <th>金额:</th>
                        <th>时间:</th>
                    </tr>
                </thead>
                {% for record in records %}
                <tr>
                    <td>#{{ record.pk }}</td>
                    <td>{{ record.good_name }}</td>
                    <td>{{ record.money }}</td>
                    <td>{{ record.created_at}}</td>
                </tr>
                {% empty %}
                <h2 class="subtitle">
                    还没有买过东西呢....
                </h2>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main %}