{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    商品列表：
                </h1>
                <h2 class="subtitle">
                    没有余额的话,点击<a href="{% url 'sspanel:chargecenter' %}"><strong>这里</strong></a>可以去充值哦
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <nav class="level box">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">用户名:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">余额：</p>
                <p class="title">{{ user.balance }}</p>
            </div>
        </div>
    </nav>

    <div class="pricing-table box" id="id-goodlist">
        {% for good in goods %}
        <div class="modal" id="modal-{{ good.pk }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">订单确认:</p>
                    <button class="delete"></button>
                </header>
                <section class="modal-card-body" data-id="{{ good.pk }}">
                    <strong>商品名：</strong>{{ good.name }}
                    <br>
                    <strong>描述：</strong>{{good.content}}
                    <hr>
                    <strong>价格：</strong>
                    <code>{{ good.money }}元</code>
                    <br>
                    <strong>流量：</strong>
                    <code>{{ good.total_transfer }}</code>
                    <br>
                    <strong>提升等级至：</strong>
                    <code>{{ good.level }} 级</code>
                    <br>
                    <strong>等级有效期：</strong>
                    <code>{{ good.days }} 天</code>
                    <hr>
                    <a class="button is-danger is-outlined" id="id-button-pruchase">确认购买</a>
                </section>
            </div>
        </div>

        <div class="pricing-plan {{good.bulma_color}}">
            <div class="plan-header">{{ good.name }}</div>
            <div class="plan-price"><span class="plan-price-amount">
                    <span class="plan-price-currency">￥</span>{{good.money}}</span>/{{ good.days }}天
            </div>
            <div class="plan-items">
                <div class="plan-item">流量：{{ good.total_transfer }}</div>
                <div class="plan-item">提升等级至：{{ good.level }}级</div>
                <div class="plan-item">等级有效期：{{ good.days }}天</div>
            </div>
            <div class="plan-footer">
                <a class="modal-button  is-fullwidth" data-target="modal-{{ good.pk }}">
                    <span class="button is-fullwidth">购买</span>
                </a>
            </div>
        </div>
        {% empty %}
        <p class="subtitle">暂时没有商品上架哦</p>
        {% endfor %}
    </div>

</div>

<script>
    var goodList = $("#id-goodlist")
    // 事件委托绑定按钮
    goodList.on('click', '#id-button-pruchase', function (event) {
        var button = $(event.target)
        var good = button.closest('.modal-card-body')
        // 找到节点id
        var goodId = good.data('id')
        data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            goodId: goodId
        }
        url = "{% url 'api:purchase' %}"
        $.post(url, data, function (results) {
            swal(results.title, results.subtitle, results.status)
        })
    })
</script> {% endblock main %}