{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户中心
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">

        <div class="tile is-vertical is-parent">
            <div class="tile box is-child">
                <p class="title">
                    <span class="icon is-large">
                        <i class="fa fa-home"></i>
                    </span> 欢迎小主: {{ user.username }}
                </p>
                <button class="button is-rounded">
                    <a href="{% url 'sspanel:logout' %}">注销登录</a>
                </button>
                <button class="button is-rounded">
                    <a href="{% url 'password_change' %}">修改密码</a>
                </button>
                <hr>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth is-info ">
                            <select name="selects">
                                <option value="" disabled="" selected="">更换页面主题</option>
                                <option disabled="">───</option>
                                {% for theme in themes %}
                                <option value="{{ theme.0 }}">{{ theme.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-torah"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-info is-rounded" id="id-button-theme">提交</button>
                    </p>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control has-icons-left">
                        <input name="num" class="input is-rounded" placeholder="更换连接密码" id="id-password">
                        <div class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-primary is-rounded" id="id-button-password">提交</button>
                    </p>
                </div>
                <hr>
                <div id="id-checkin-box">
                    {% if user.today_is_checkin %}
                    <p class="subtitle is-5 is-spaced">今天已经签到过了ಠ౪ಠ</p>
                    {% else %}
                    <p class="subtitle is-5 is-spaced">今天还没有签到，点一下可以获得{{ min_traffic }}~{{ max_traffic }}流量</p>
                    <br>
                    <button class="button">
                        <a>
                            <span id="id-checkin">签到</span>
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>

            <div class="tile box is-child">
                <article class="message">
                    <div class="message-header">
                        <p>最新公告</p>
                    </div>
                    <div class="message-body">
                        {% if anno %} {{ anno.body | safe }} {% else %}
                        <p>暂无公告</p>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-7 is-vertical is-parent">


            <div class="tile is-child box">
                <div class="block">
                    <h1 class="title">订阅地址</h1>
                    <h2 class="subtitle">导入订阅地址到您的应用以完成订阅</h2>
                </div>

                <div class="block">
                    <div class="block">
                        <div class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span>选择协议</span>
                        </div>


                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <div class="icon is-small is-left">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <span class="display-content">默认获取所有协议</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item" data-display="trojan" data-query="protocol">
                                        <strong>trojan</strong> 推荐使用
                                    </a>
                                    <a class="dropdown-item" data-display="ss" data-query="protocol">
                                        <strong>ss</strong> 旧设备使用
                                    </a>
                                    <a class="dropdown-item" data-display="all" data-query="all">
                                        <strong>all</strong> 所有协议
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="content is-small">
                            <li>选择一个你客户端支持的协议</li>
                        </div>
                    </div>

                    <div class="block">
                        <div class="icon-text">
                            <span class="icon has-text-success">
                                <i class="fas fa-check-square"></i>
                            </span>
                            <span>选择客户端</span>
                        </div>

                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <div class="icon is-small is-left">
                                        <i class="fas  fa-desktop"></i>
                                    </div>
                                    <span class="display-content">默认使用 clash</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                <div class="dropdown-content">

                                    <a class="dropdown-item" data-display="clash" data-query="client">
                                        <div class="icon is-small is-left">
                                            <i class="fas  fa-cat"></i>
                                        </div>
                                        <strong>clash</strong>
                                    </a>

                                    <a class="dropdown-item" data-display="clash_premium" data-query="client">
                                        <div class="icon is-small is-left">
                                            <i class="fas  fa-cat"></i>
                                        </div>
                                        <strong>clash premium</strong>
                                    </a>

                                    <a class="dropdown-item" data-display="clash_proxy_provider" data-query="client">
                                        <div class="icon is-small is-left">
                                            <i class="fas  fa-cat"></i>
                                        </div>
                                        <strong>clash proxy provider</strong>
                                    </a>

                                    <a class="dropdown-item" data-display="shadowrocket" data-query="client">
                                        <div class="icon is-small is-left">
                                            <i class="fa fa-rocket"></i>
                                        </div>
                                        <strong>shadowrocket</strong>
                                    </a>

                                    <a class="dropdown-item" data-display="quantumultx" data-query="client">
                                        <div class="icon is-small is-left">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                        <strong>quantumultx</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="content is-small">
                            <li>推荐使用 clash 作为客户端</li>
                        </div>
                    </div>

                    <div class="block">
                        <div class="icon-text">
                            <span class="icon has-text-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span>订阅地址（请不要泄露给他人！）</span>
                        </div>

                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control is-expanded">
                                <input class="input" id="id-sub-link" value="{{ sub_link }}&client=clash">
                            </p>
                            <p class="control">
                                <a class="button is-rounded" id="id-button-clip" data-clipboard-target="#id-sub-link">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <button class="button is-danger is-fullwidth is-outlined is-rounded" id="id-reset-sub-link">
                            重置订阅
                        </button>
                    </div>
                    <span class="copied" hidden="true">Copied!</span>
                </div>
            </div>

            <div class="tile box is-child">
                <article class="message is-info">
                    <div class="message-header">
                        <p>个人信息</p>
                    </div>
                    <div class="message-body">
                        <div class="box">
                            <li>余额:
                                <code>{{ user.balance }} 元</code>
                            </li>
                            <li>等级:
                                <code>{{ user.level }} 级 </code>
                            </li>
                            {% if active_node_count <= 0 %} <li>状态:
                                <code>已失效(购买后使用)</code>
                                </li>
                                {% else %}
                                <li>状态:
                                    <code>正常使用(可用节点{{active_node_count}}条)</code>
                                </li>
                                {% endif %}
                                <li>主题:
                                    <code>{{ user.theme }} </code>
                                </li>
                                <li>邮箱:
                                    <code>{{ user.email }} </code>
                                </li>
                                <li>连接密码:
                                    <code>{{ user.ss_password }}</code>
                                </li>
                                <li>等级到期时间:
                                    <code>{{ user.level_expire_time }} </code>
                                </li>
                                <li>上次使用时间:
                                    <code>{{ user.last_use_time}}</code>
                                </li>
                                {% for usp in usp_list %}
                                <li>{{ usp.platform }}用户名:
                                    <code>{{ usp.platform_username }}</code>
                                </li>
                                {% endfor %}
                        </div>

                        <div class="box">
                            <div class="columns">
                                <div class="column">
                                    <li>总量:
                                        <code>{{ user.human_total_traffic }}</code>
                                    </li>
                                </div>
                                <div class="column">
                                    <progress class="progress is-success" value="100" max="100"></progress>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <li>剩余:
                                        <code>{{ user.human_remain_traffic }} </code>
                                    </li>
                                </div>
                                <div class="column">
                                    <progress class="progress is-info" value="{{ user.remain_percentage }}"
                                        max="100"></progress>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <li>使用:
                                        <code>{{ user.human_used_traffic }}</code>
                                    </li>
                                </div>
                                <div class="column">
                                    <progress class="progress is-danger" value="{{ user.used_percentage }}"
                                        max="100"></progress>
                                </div>
                            </div>
                </article>
            </div>


        </div>
    </div>
</div>

<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });

    // 签到
    var CheckButton = $("#id-checkin")
    var Checkin = function () {
        url = "{% url 'api:checkin' %}"
        data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.post(url, data, function (results) {
            info = results
            swal(info.title, info.subtitle, info.status).then(function () { location.reload(); })
        })
    }
    CheckButton.click(Checkin)

    // 更换主题
    var ThemeButton = $("#id-button-theme")
    var changeTheme = function () {
        var theme = $("select[name=selects]").val();
        if (theme) {
            data = {
                theme: theme,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:change_theme' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status).then(function () { location.reload(); })
            })
        } else {
            swal('错误！', '请选择你要更换的主题', 'error')
        }
    }
    ThemeButton.click(changeTheme)
    // 更换密码
    var PasswordButton = $("#id-button-password")
    var changePassword = function () {
        var password = $("#id-password").val();
        if (password) {
            data = {
                ss_password: password,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:user_settings' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请输入SS密码', 'error')
        }
    }
    PasswordButton.click(changePassword)



    // 订阅中心
    subInput = $("#id-sub-link")[0]
    $(".dropdown .button").click(function () {
        var dropdown = $(this).parents('.dropdown');
        dropdown.toggleClass('is-active');
    });

    $(".dropdown-item").click(function () {
        var dropdown = $(this).parents('.dropdown');
        dropdown.toggleClass('is-active');
        var span = $(dropdown).find('.display-content')[0];
        span.innerText = $(this).data("display")

        // gen sublink
        url = new URL(subInput.value)
        url.searchParams.set($(this).data("query"), $(this).data("display"))
        subInput.value = url.toString()
    });


    // 重制订阅
    var restSubButton = $("#id-reset-sub-link")
    var restSubButtonReq = function () {
        url = "{% url 'api:rest_sub_uid' %}"
        data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.post(url, data, function (results) {
            info = results
            swal(info.title, info.subtitle, info.status).then(function () { location.reload(); })
        })
    }
    restSubButton.click(restSubButtonReq)

</script> {% endblock main %}