{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户中心：
                </h1>
                <h2 class="subtitle">
                    这里有你的出生证明....
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">

        <div class="tile is-5 is-vertical is-parent">
            <div class="tile box is-child">
                <p class="title">
                    <span class="icon is-large">
                        <i class="fa fa-home"></i>
                    </span> 欢迎小主: {{ user.username }}</p>
                <p class="subtitle is-5">这里的功能还比较少...</p>
                <button class="button is-rounded">
                    <a href="{% url 'shadowsocks:logout' %}">注销登录</a>
                </button>
                <button class="button is-rounded">
                    <a href="{% url 'password_change' %}">修改密码</a>
                </button>
                <button class="button is-rounded">
                    <a>
                        <span id="id-change-port">重置端口</span>
                    </a>
                </button>
                <hr>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth">
                            <select name="selects">
                                <option value="" disabled="" selected="">更换页面主题</option>
                                <option disabled="">───</option>
                                <option value="default">Default</option>
                                <option value="darkly">Darkly</option>
                                <option value="flatly">Flatly</option>
                                <option value="journal">Journal</option>
                                <option value="materia">Materia</option>
                                <option value="minty">Minty</option>
                                <option value="spacelab">Spacelab</option>
                                <option value="superhero">Superhero</option>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-eercast"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-info is-rounded" id="id-button-theme">提交</button>
                    </p>
                </div>
                <hr>
                <div id="id-checkin-box">
                    {% if user.ss_user.get_check_in %}
                    <p class="subtitle is-5 is-spaced">今天已经签到过了ಠ౪ಠ</p>
                    {% else %}
                    <p class="subtitle is-5 is-spaced"> 今天还没有签到，点一下可以获得{{ min_traffic }}~{{ max_traffic }}流量</p>
                    <br>
                    <button class="button">
                        <a>
                            <span id="id-checkin">签到</span>
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="tile box is-child">
                <article class="message">
                    <div class="message-header">
                        <p>最新公告</p>
                    </div>
                    <div class="message-body">
                        {% if anno %} {{ anno.body | safe }} {% else %}
                        <p>暂无公告</p>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-7 is-vertical is-parent">

            <div class="tile box is-child">
                <article class="message is-success">
                    <div class="message-header">
                        <p>连接信息</p>
                    </div>
                    <div class="message-body">
                        <li> 端口：
                            <code><span id="port">{{ user.ss_user.port }}</span></code>
                        </li>
                        <li> 密码：
                            <code>{{ user.ss_user.password }}</code>
                        </li>
                        <li> 加密：
                            <code>{{ user.ss_user.method }}</code>
                        </li>
                        <li> 协议：
                            <code>{{ user.ss_user.protocol }}</code>
                        </li>
                        <li> 混淆：
                            <code>{{ user.ss_user.obfs }}</code>
                        </li>
                        <br>
                        <div class="buttons">
                            <a class="button is-link is-rounded" href="{{ sub_code }}">一键导入</a>
                            <a class="button is-link is-rounded" href="{% url 'ssserver:node_config' %}" download>配置下载</a>
                            <span class="button is-link modal-button is-rounded" data-target="modal-sub">订阅</span>
                        </div>
                    </div>
                </article>
                <div class="modal nodeinfo" id="modal-sub">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">SSR订阅地址：</p>
                            <button class="delete"></button>
                        </header>
                        <section class="modal-card-body">
                            <p class="subtitle">订阅链接</p>
                            <strong>点击按钮复制链接至客户端的订阅处</strong>
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" id="id-sub-link" value="{{ sub_link }}">
                                </p>
                                <p class="control">
                                    <a class="button is-rounded" id="id-button-clip" data-clipboard-target="#id-sub-link">
                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    </a>
                                </p>
                            </div>
                            <span class="copied" hidden="true">Copied!</span>
                        </section>
                    </div>
                </div>
                <article class="message is-warning">
                    <div class="message-header">
                        <p>流量信息</p>
                    </div>

                    <div class="message-body">
                        <div class="columns">
                            <div class="column is-4">
                                <li>总量:
                                    <code>{{ user.ss_user.get_transfer }}GB</code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-success" value="100" max="100"></progress>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <li>剩余:
                                    <code>{{ user.ss_user.get_unused_traffic }}GB </code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-info" value="{{  remain_traffic }}" max="100"></progress>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">
                                <li>使用:
                                    <code>{{ user.ss_user.get_used_percentage }}%</code> </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-danger" value="{{  user.ss_user.get_used_percentage }}" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="message is-info">
                    <div class="message-header">
                        <p>个人信息</p>
                    </div>
                    <div class="message-body">
                        <li> 余额：
                            <code>{{ user.balance }} 元</code>
                        </li>
                        <li> 邮箱：
                            <code>{{ user.email }} </code>
                        </li>
                        <li> 等级：
                            <code>{{ user.level }} 级 </code>
                        </li>
                        {% if user.ss_user.enable == True %}
                        <li> 状态：
                            <code>正常使用</code>
                        </li>
                        {% else %}
                        <li> 状态：
                            <code>失效</code>
                        </li>
                        {% endif %}
                        <li> 等级到期时间：
                            <code>{{ user.get_expire_time }} </code>
                        </li>
                        <li>上次使用时间:
                            <code>{{ user.ss_user.get_last_use_time|date:"m月d日G点" }}</code>
                        </li>

                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });
    // 端口重置Ajax部分
    var ProtButton = $("#id-change-port")
    var changeport = function () {
        url = "{% url 'api:changessport' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
            port.textContent = results.subtitle.slice(6, -1)
        })
    }
    ProtButton.click(changeport)
    // 签到AJAX部分
    var CheckButton = $("#id-checkin")
    var Checkin = function () {
        url = "{% url 'shadowsocks:checkin' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
            var box = $("#id-checkin-box")
            box.empty()
            box.append('今天已经签到过了ಠ౪ಠ')
        })
    }
    CheckButton.click(Checkin)
    // 更换主题
    var ThemeButton = $("#id-button-theme")
    var changeTheme = function () {
        var theme = $("select[name=selects]").val();
        if (theme) {
            data = {
                theme: theme,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:change_theme' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请选择你要更换的主题', 'error')
        }
    }

    ThemeButton.click(changeTheme)
</script> {% endblock main %}