{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户资料改写处：
                </h1>
                <h2 class="subtitle">
                    自定义连接信息....
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">
         <div class="tile is-6 is-vertical is-parent">
            <div class="tile box is-child">
                <span class="tag is-danger is-large">修改连接密码:</span>
                <hr />
                <p class="subtitle">当前密码:<code>{{ ss_user.password }}</code></p>
                <form class="form" action="{% url 'ssserver:changesspass' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="password" class="input is-narrow is-danger" required="" id="password">
                    <hr/>
                    <div class="is-grouped">
                        <button type="submit" class="button is-danger is-outlined ">确认修改</button>
                    </div>
                </form>
            </div>
        
            <div class="tile box is-child">
                    <span class="tag is-warning is-large">自定义的加密:</span>
                    <hr />
                    <p class="subtitle">当前加密方式:<code>{{ ss_user.method }}</code></p>
                    <form class="form" action="{% url 'ssserver:changessmethod' %}" method="post">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">method:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select">
                                            <select name="method">
                                                {% for m in methods %}
                                                <option>{{ m }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="is-grouped">
                            <button type="submit" class="button is-danger is-outlined ">提交</button>
                        </div>
                    </form>
                </div>
        
        </div>

        <div class="tile is-6 is-vertical is-parent">
            <div class="tile box is-child">
                <span class="tag is-success is-large">自定义协议:</span>
                <hr />
                <p class="subtitle">当前协议:<code>{{ ss_user.protocol }}</code></p>
                <form class="form" action="{% url 'ssserver:changessprotocol' %}" method="post">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">protocol:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select">
                                        <select name="protocol">
                                            {% for p in protocols %}
                                            <option>{{ p }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="is-grouped">
                        <button type="submit" class="button is-danger is-outlined ">提交</button>
                    </div>
                </form>
            </div>
            
            <div class="tile box is-child">
                <span class="tag is-success is-large">自定义混淆:</span>
                <hr />
                <p class="subtitle">当前混淆:<code>{{ ss_user.obfs }}</code></p>
                <form class="form" action="{% url 'ssserver:changessobfs' %}" method="post">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">obfs:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select">
                                        <select name="obfs">
                                            {% for o in obfss %}                                           
                                            <option>{{ o }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="is-grouped">
                        <button type="submit" class="button is-danger is-outlined ">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    {% endblock main %}