name: "Close stale issues and PRs"
on:
  # schedule:
  # - cron: "30 1 * * *"
  workflow_dispatch:
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
        with:
          exempt-all-pr-assignees: true
