name: build-tag-image
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
jobs:
  build-tag-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: build tag image
        uses: elgohr/Publish-Docker-Github-Action@v4
        with:
          name: ehco1996/django-sspanel
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tag_names: true
          dockerfile: deploy/Dockerfile.CODE
